@import "../common/index.less";

.pm-cell-group {
  overflow: auto;
  font-size: @cell-font-size;
  //padding: @page-level-padding;

  .pm-cell {
    border-top: 0;
    &:nth-child(2) {
      border-top: @border-width-default solid @border-color-default;
    }
  }

  &__title {
    box-sizing: border-box;
    //font-size: @font-size-default;
    padding: @cell-group-title-padding;
    color: @cell-group-title-color;

    &--left {
      float: left;
    }
    &--center {
      float: left;
      margin-left: 50%;
      transform: translateX(-50%);
    }
    &--right {
      float: right;
    }
  }
}
