@border-radius-default: .2rem;

// toast
@toast-border-radius: @border-radius-default;
@toast-width: 5rem;
@toast-max-width-type-info: 70%;
@width-type-other: 5rem;
@height-type-other: 5rem;
@toast-min-height: 1.5rem;
@toast-font-size: 1rem;
@toast-icon-font-size: 3rem;
